<% include header.html %>

<!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="tituloPrincipal"><%= title %></h1>

          <h3><%= __('¡Welcome to Nodepop!')%></h3>
          <h2><%= __('List of products')%></h2>

          <% productos.forEach( producto=> { %>
          <div>
            <img src="<%= producto.foto %>" alt="" width="100px" />
            <h2><%= producto.nombre %></h2>
            <p>Precio: <%= producto.precio %></p>
            <p>
              <% if (producto.venta) { %> Se vende <% } else { %> Se compra <% }
              %>
            </p>
            <h5>TAGS:</h5>
            <%= producto.tags %>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</header>

<% include footer.html %>
