<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>¡Welcome to <%= title %>!</h4>

    <h2><%= productos %></h2>

  </body>
</html>
