body {
  padding: 50px;
  background-color: #95fc7c;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
img {
  width: 200px;
  height: 125px;
}

h1 {
  color: #154ce4;
}

a {
  color: #00B7FF;
}
div {
  flex: 1;
  margin: 5px;
  padding: 10px;
  display: flex;
  border-radius: 15px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
}
